<nav class="col_9 col">
    <ul>
        <li><a href='@Url.Action("Index","Posts")'>home</a></li>
        <li><a href="#navigation">navigation 2</a></li>
        <li><a href="http://www.enavu.com">enavu network</a></li>
    </ul>
</nav><!-- nav col_9 -->