@model Blog.UI.Models.CommentViewModel
<li><span class="comment_information">posted by <b>@Model.Author</b> on <i>@Model.CreatedAt.ToString("dd.MM.yyyy")</i> at <i>@Model.CreatedAt.ToString("HH:mmm")</i></span>
    <p>@Model.Text</p>
</li><!-- -->