@using Ifa.Model
@model PagedResultViewModel<Blog.UI.Models.PostViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="posts">
@Html.Partial("Posts",Model)
</div>

@section lastArticles{
    @{Html.RenderAction("Last", "Posts");}
}