<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <xangogroup>
  <xangoConfiguration
       domainAssemblyName="Blog.Domain, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
       isWeb="true"
       database="mysql"
       validationAssemblyName="Blog.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
       xdt:Transform="SetAttributes" />
  </xangoGroup>
  <connectionStrings>
    <add name="default"
         connectionString="server=db001.appharbor.net;database=db2385;uid=db2385;pwd=Y5dcaYKAE6njx8MtjV5ZU3JLmhmCdXhToDEw54ZdA4M5BTh2io7ZNEx6uzYZLhwP"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>